body {
	font-family: "ו";
	font-size: 30pt;
	SCROLLBAR-FACE-COLOR: #1E7DD8;
	SCROLLBAR-HIGHLIGHT-COLOR: #1E7DD8;
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-ARROW-COLOR: #FFFFFF;
	SCROLLBAR-DARKSHADOW-COLOR: #1E7DD8;
	SCROLLBAR-BASE-COLOR: #FFFFFF;
	scrollbar-track-color: #BAE3FB;
}

a:link {
	font-size: 9pt;
	color: #0055A6;
	text-decoration: none;
}

a:visited {
	font-size: 9pt;
	color: #0055A6;
	text-decoration: none;
}

a:active {
	font-size: 9pt;
	color: #0055A6;
	text-decoration: none;
}

a:hover {
	font-size: 9pt;
	color: #ff0000;
	text-decoration: none;
}

th,td {
	margin-left: 5px;
	font-size: 9pt;
}

#data {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #D2D2D3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D3;
}

#data th {
	FILTER: progid : DXImageTransform .Microsoft .Gradient(GradientType = 0, StartColorStr = #98d3f8, EndColorStr = #ffffff);
	background-color: #B7E1FA;
	font-weight: bold;
	text-align: center;
	line-height: 18px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D2D2D3;
	border-left-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D3;
}

#data td {
	margin-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #bae3fb;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D2D2D3;
	border-left-color: #FFFFFF;
	height: 15px;
}

#data .tr_over {
	background-color: #B7E1FA;
}

#data1 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #D2D2D3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D3;
}

#data1 th {
	FILTER: progid : DXImageTransform .Microsoft .Gradient(GradientType = 0, StartColorStr = #98d3f8, EndColorStr = #ffffff);
	background-color: #B7E1FA;
	font-weight: bold;
	text-align: center;
	line-height: 18px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D2D2D3;
	border-left-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D3;
}

#data1 td {
	margin-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #bae3fb;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D2D2D3;
	border-left-color: #FFFFFF;
	height: 15px;
}

#data1 .tr_over {
	background-color: #B7E1FA;
}

p {
	font-size: 11pt;
}

input,select,textarea {
	border-right: #38A9FF 1px solid;
	border-top: #38A9FF 1px solid;
	border-left: #38A9FF 1px solid;
	border-bottom: #38A9FF 1px solid;
	font-size: 9pt;
}

.NoBorder {
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

.table-3 {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}

.btn {
	BORDER-RIGHT: #38A9FF 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #38A9FF 1px solid;
	PADDING-LEFT: 2px;
	FONT-SIZE: 12px;
	FILTER: progid :                     DXImageTransform .                 
		   Microsoft .    
				     
				
				
				  
				 
		
		  Gradient(GradientType =                     0, StartColorStr = 
		              
				    #ffffff, EndColorStr =          
				          #B7E1FA);
	BORDER-LEFT: #38A9FF 1px solid;
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #38A9FF 1px solid
}
-->
