<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasoft.model.dao.TrainapplyMapper" >
  <resultMap id="BaseResultMap" type="com.chinasoft.model.entity.Trainapply" >
    <id column="trainApplyId" property="trainapplyid" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="trainDirect" property="traindirect" jdbcType="VARCHAR" />
    <result column="trainLeader" property="trainleader" jdbcType="VARCHAR" />
    <result column="trainMark" property="trainmark" jdbcType="INTEGER" />
    <result column="trainEvaluation" property="trainevaluation" jdbcType="VARCHAR" />
    <result column="trainFeedback" property="trainfeedback" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    trainApplyId, userName, trainDirect, trainLeader, trainMark, trainEvaluation, trainFeedback
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trainapply
    where trainApplyId = #{trainapplyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trainapply
    where trainApplyId = #{trainapplyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chinasoft.model.entity.Trainapply" >
    insert into trainapply (trainApplyId, userName, trainDirect, 
      trainLeader, trainMark, trainEvaluation, 
      trainFeedback)
    values (#{trainapplyid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{traindirect,jdbcType=VARCHAR}, 
      #{trainleader,jdbcType=VARCHAR}, #{trainmark,jdbcType=INTEGER}, #{trainevaluation,jdbcType=VARCHAR}, 
      #{trainfeedback,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasoft.model.entity.Trainapply" >
    insert into trainapply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trainapplyid != null" >
        trainApplyId,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="traindirect != null" >
        trainDirect,
      </if>
      <if test="trainleader != null" >
        trainLeader,
      </if>
      <if test="trainmark != null" >
        trainMark,
      </if>
      <if test="trainevaluation != null" >
        trainEvaluation,
      </if>
      <if test="trainfeedback != null" >
        trainFeedback,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trainapplyid != null" >
        #{trainapplyid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="traindirect != null" >
        #{traindirect,jdbcType=VARCHAR},
      </if>
      <if test="trainleader != null" >
        #{trainleader,jdbcType=VARCHAR},
      </if>
      <if test="trainmark != null" >
        #{trainmark,jdbcType=INTEGER},
      </if>
      <if test="trainevaluation != null" >
        #{trainevaluation,jdbcType=VARCHAR},
      </if>
      <if test="trainfeedback != null" >
        #{trainfeedback,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasoft.model.entity.Trainapply" >
    update trainapply
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="traindirect != null" >
        trainDirect = #{traindirect,jdbcType=VARCHAR},
      </if>
      <if test="trainleader != null" >
        trainLeader = #{trainleader,jdbcType=VARCHAR},
      </if>
      <if test="trainmark != null" >
        trainMark = #{trainmark,jdbcType=INTEGER},
      </if>
      <if test="trainevaluation != null" >
        trainEvaluation = #{trainevaluation,jdbcType=VARCHAR},
      </if>
      <if test="trainfeedback != null" >
        trainFeedback = #{trainfeedback,jdbcType=VARCHAR},
      </if>
    </set>
    where trainApplyId = #{trainapplyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasoft.model.entity.Trainapply" >
    update trainapply
    set userName = #{username,jdbcType=VARCHAR},
      trainDirect = #{traindirect,jdbcType=VARCHAR},
      trainLeader = #{trainleader,jdbcType=VARCHAR},
      trainMark = #{trainmark,jdbcType=INTEGER},
      trainEvaluation = #{trainevaluation,jdbcType=VARCHAR},
      trainFeedback = #{trainfeedback,jdbcType=VARCHAR}
    where trainApplyId = #{trainapplyid,jdbcType=INTEGER}
  </update>
</mapper>