<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasoft.model.dao.TrainplanMapper" >
  <resultMap id="BaseResultMap" type="com.chinasoft.model.entity.Trainplan" >
    <id column="trainPlanId" property="trainplanid" jdbcType="INTEGER" />
    <result column="trainDirect" property="traindirect" jdbcType="VARCHAR" />
    <result column="trainObject" property="trainobject" jdbcType="VARCHAR" />
    <result column="trainContent" property="traincontent" jdbcType="VARCHAR" />
    <result column="trainStartTime" property="trainstarttime" jdbcType="TIMESTAMP" />
    <result column="trainContinueTime" property="traincontinuetime" jdbcType="VARCHAR" />
    <result column="trainInfo" property="traininfo" jdbcType="VARCHAR" />
    <result column="trainPlace" property="trainplace" jdbcType="VARCHAR" />
    <result column="trainPrice" property="trainprice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    trainPlanId, trainDirect, trainObject, trainContent, trainStartTime, trainContinueTime, 
    trainInfo, trainPlace, trainPrice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trainplan
    where trainPlanId = #{trainplanid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trainplan
    where trainPlanId = #{trainplanid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chinasoft.model.entity.Trainplan" >
    insert into trainplan (trainPlanId, trainDirect, trainObject, 
      trainContent, trainStartTime, trainContinueTime, 
      trainInfo, trainPlace, trainPrice
      )
    values (#{trainplanid,jdbcType=INTEGER}, #{traindirect,jdbcType=VARCHAR}, #{trainobject,jdbcType=VARCHAR}, 
      #{traincontent,jdbcType=VARCHAR}, #{trainstarttime,jdbcType=TIMESTAMP}, #{traincontinuetime,jdbcType=VARCHAR}, 
      #{traininfo,jdbcType=VARCHAR}, #{trainplace,jdbcType=VARCHAR}, #{trainprice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinasoft.model.entity.Trainplan" >
    insert into trainplan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trainplanid != null" >
        trainPlanId,
      </if>
      <if test="traindirect != null" >
        trainDirect,
      </if>
      <if test="trainobject != null" >
        trainObject,
      </if>
      <if test="traincontent != null" >
        trainContent,
      </if>
      <if test="trainstarttime != null" >
        trainStartTime,
      </if>
      <if test="traincontinuetime != null" >
        trainContinueTime,
      </if>
      <if test="traininfo != null" >
        trainInfo,
      </if>
      <if test="trainplace != null" >
        trainPlace,
      </if>
      <if test="trainprice != null" >
        trainPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trainplanid != null" >
        #{trainplanid,jdbcType=INTEGER},
      </if>
      <if test="traindirect != null" >
        #{traindirect,jdbcType=VARCHAR},
      </if>
      <if test="trainobject != null" >
        #{trainobject,jdbcType=VARCHAR},
      </if>
      <if test="traincontent != null" >
        #{traincontent,jdbcType=VARCHAR},
      </if>
      <if test="trainstarttime != null" >
        #{trainstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="traincontinuetime != null" >
        #{traincontinuetime,jdbcType=VARCHAR},
      </if>
      <if test="traininfo != null" >
        #{traininfo,jdbcType=VARCHAR},
      </if>
      <if test="trainplace != null" >
        #{trainplace,jdbcType=VARCHAR},
      </if>
      <if test="trainprice != null" >
        #{trainprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasoft.model.entity.Trainplan" >
    update trainplan
    <set >
      <if test="traindirect != null" >
        trainDirect = #{traindirect,jdbcType=VARCHAR},
      </if>
      <if test="trainobject != null" >
        trainObject = #{trainobject,jdbcType=VARCHAR},
      </if>
      <if test="traincontent != null" >
        trainContent = #{traincontent,jdbcType=VARCHAR},
      </if>
      <if test="trainstarttime != null" >
        trainStartTime = #{trainstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="traincontinuetime != null" >
        trainContinueTime = #{traincontinuetime,jdbcType=VARCHAR},
      </if>
      <if test="traininfo != null" >
        trainInfo = #{traininfo,jdbcType=VARCHAR},
      </if>
      <if test="trainplace != null" >
        trainPlace = #{trainplace,jdbcType=VARCHAR},
      </if>
      <if test="trainprice != null" >
        trainPrice = #{trainprice,jdbcType=DECIMAL},
      </if>
    </set>
    where trainPlanId = #{trainplanid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasoft.model.entity.Trainplan" >
    update trainplan
    set trainDirect = #{traindirect,jdbcType=VARCHAR},
      trainObject = #{trainobject,jdbcType=VARCHAR},
      trainContent = #{traincontent,jdbcType=VARCHAR},
      trainStartTime = #{trainstarttime,jdbcType=TIMESTAMP},
      trainContinueTime = #{traincontinuetime,jdbcType=VARCHAR},
      trainInfo = #{traininfo,jdbcType=VARCHAR},
      trainPlace = #{trainplace,jdbcType=VARCHAR},
      trainPrice = #{trainprice,jdbcType=DECIMAL}
    where trainPlanId = #{trainplanid,jdbcType=INTEGER}
  </update>
</mapper>